rshb-dropdown {
  display: inline-block;

  .options {
    position: absolute;
    z-index: 1000;

    > * {
      display: block;
      min-width: 10rem;
      padding: 0.5rem 0;
      margin: 0;
      font-size: 1rem;
      color: #212529;
      text-align: left;
      list-style: none;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid rgba(0,0,0,.15);
      border-radius: 0.25rem;
    }
  }
}

rshb-dropdown:defined {
  opacity: 1;
}

rshb-dropdown:not(:defined) {
  opacity: 0.5;
}
